<div class="container jumbotron">
	<div class="row">
		<div class="col-md-4 col-md-offset-1 text-center">
			<p>
				<strong>Don't worry it's not just My Menu. You can create your own menu too.</strong>
			</p>
			<%= link_to 'Sign up', new_user_registration_path, 
						class: "btn btn-large btn-success", style: "font-size:24pt" %>
		</div>
		<br>
		<div class="col-md-4 col-md-offset-2 well">
			<p>
				Already have your own menu. Sign in and see what's for dinner.
			</p>
			<%= bootstrap_form_for(:user, :url => session_path(:user)) do |f| %>
				<%= render 'layouts/messages' %>
			  <%= f.email_field :email, autofocus: true %>
			  <%= f.password_field :password %>
			  <%= f.submit 'Sign in', class: "btn btn-large btn-primary" %>
			  <%= link_to "Forgot your password?", new_password_path(:user) %>
			<% end %>
		</div>
	</div>
	<br>
	<br>
	<div class="row hidden">
		<div class="col-md-8 col-md-offset-2 text-center">
			<p>
				Don't want to sign up until you know what Mon Menu is all about?
			</p>
			<p>
				<a class="btn btn-large btn-success" style="font-size:24pt" 
					href="/demo">Try it out</a>
			</p>
		</div>
	</div>
</div>