<div class="col-md-4 col-md-offset-1 well">
	<h2>Required Info</h2>
	<%= f.text_field :name, autofocus: true %>
	<%= f.text_field :description %>
	<%= f.select :category, options_for_select(%w[Main Side Snack],
									@food.category) %>
</div>
<div class="col-md-4 col-md-offset-2">
	<h2>Add Now or Later</h2>
	<%= f.text_area :ingredients %>
	<%= f.text_area :prep %>
	<%= f.text_field :prep_time, label: 'Prep time (in minutes)' %>
	<%= f.fields_for :photo do |p| %>
    <% if !@photo.photo_image.blank? or !@photo.photo_image.nil? %>	
    	<%= p.file_field :image_file, label: 'Change Photo: JPEG or PNG less than 5MB' %>	
			<%= f.label "Remove Photo", inline_label: true %>
			<%= check_box_tag :remove_photo %>
		<% else %>
			<%= p.file_field :image_file, label: 'Add Photo: JPEG or PNG less than 5MB' %>
		<% end %>
  <% end %><br>