<div class="container jumbotron">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center">
			<h1>Edit <%=@food.name %></h1>
		</div>
	</div>
</div>

<div class="container jumbotron">
	<div class="row">
		<%= render 'layouts/messages' %>
		<%= bootstrap_form_for(@food) do |f| %>
			<div class="col-md-4 col-md-offset-1 well">
				<h2>Required Info</h2>
				<%= f.text_field :name %>
				<%= f.text_field :description %>
				<%= f.select :category, options_for_select(%w[Main Side Snack],
												@food.category) %>
			</div>
			<div class="col-md-4 col-md-offset-1">
				<h2>Add Now or Later</h2>
				<%= f.text_area :ingredients %>
				<%= f.text_area :prep %>
				<%= f.text_field :prep_time %>
				<%= f.fields_for :photo do |p| %>
			    <% if !@photo.photo_image.blank? or !@photo.photo_image.nil? %>	
			    	<%= p.file_field :image_file, label: 'Change image' %>	
						<%= f.label "Remove Image", inline_label: true %>
						<%= check_box_tag :remove_photo %>
					<% else %>
						<%= p.file_field :image_file, label: 'Add Image' %>
					<% end %>
			  <% end %><br>
			  <%= f.submit 'Edit Food', class: "btn btn-large btn-primary" %>
				<br><br>
				<%= link_to 'Cancel', :back, class: "btn btn-large btn-danger" %>
			</div>
		<% end %>
	</div>
</div>