<div class="container jumbotron">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center">
			<h1>Edit <%=@food.name %></h1>
		</div>
	</div>
</div>

<div class="container jumbotron">
	<div class="row">
		<%= bootstrap_form_for(@food) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
			<%= render 'fields', f: f %>
			  <%= f.submit 'Edit Food', class: "btn btn-large btn-primary" %>
				<br><br>
				<%= link_to 'Cancel', :back, class: "btn btn-large btn-danger" %>
			</div>
		<% end %>
	</div>
</div>