<div class="container jumbotron">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center">
			<h1><%=@food.name %></h1>
		</div>
	</div>
</div>

<div class="container jumbotron">
	<div class="row">
		<div class="col-md-5">
			<h2>Description</h2>
			<p>
				<%= @food.description %>
			</p>
			<% if !@food.ingredients.blank? %>
				<h2>Ingredients</h2>
				<p><%= @food.ingredients %><p>
			<% end %>
			<% if !@food.prep.blank? %>
				<h2>Preparation</h2>
				<p><%= @food.prep %><p>
			<% end %>
			<% if !@food.prep_time.blank? %>
				<h2>Prep Time</h2>
				<p><%= @food.prep_time %> minutes</p>
			<% end %>
			<%= link_to 'Edit', edit_food_path(@food), class: "btn btn-large btn-primary" %>
		</div>
		<div class="col-md-6">
			<% if !@photo.photo_image.blank? %>
				<%= image_tag url_for(controller: "foods", action: "show_food_photo", 
																	id: @food.id), class: "img-rounded" %>
					<% end %>
		</div>
	</div>
</div>
		