<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'shared/visitor_nav' %>
<%= yield %>
<div class="container">
	<p>
		<%= debug(params) if Rails.env.development? %>
	</p>
</div>
	<%= render 'layouts/footer' %>
</body>
</html>